server:
  port: 8081

spring:
  application:
    name: product-service
  data:
    mongodb:
      host: localhost
      port: 27017
      database: productdb
      auto-index-creation: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{correlationId}] %-5level %logger{36} - %msg%n"
  level:
    com.productservice: INFO
    org.springframework.data.mongodb: INFO

app:
  seed:
    enabled: false
    endpoint:
      enabled: false
    default-count: 1500
